@charset "utf-8";
@import url("reset.css");

html {
    height: 100vh;
    width: 100vw;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 600;
    -ms-overflow-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 전체 화면 높이 */
    margin: 0;
    background: #f9fafb;
}