.postDetail {
  width: 1200px;
  margin: 0 auto;
  margin-top: 34px;
}
.postTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--colorName);
}

.postInfo {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
.postCreated {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
}
.userId {
  font-weight: 500;
  color: var(--colorHeaderText);
}
.postCreatedate {
  font-weight: 400;
  color: var(--colorInputText);
}
.OR {
  margin: 0 32px;
  font-size: 34px;
  font-weight: 200;
  color: var(--colorQa);
}
.like {
  margin-top: 16px;
}
.like button {
  width: 77px;
  height: 25px;
  border-radius: 35px;
  border: 1px solid var(--colorQa);
  background-color: #fff;
  cursor: pointer;
}
hr {
  margin-top: 16px;
  color: var(--colorQa);
  margin-bottom: 24px;
}

.postContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--colorName);
  font-family: "pretendard";
  margin-bottom: 32px;
}
.commentsArticle {
  position: relative;
}
.commentTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--colorTitle);
}
.commentTextarea {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  border: none;
  background-color: var(--colorInput);
  padding: 16px 24px;
  margin-top: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--colorInputText);
  font-family: "pretendard";
}

.commentButton {
  position: absolute;
  bottom: -55px;
  right: 0;
  width: 75px;
  height: 45px;
  border-radius: 8px;
  border: none;
  padding: 12px 23px;
  gap: 10px;
  background-color: var(--colorInputText);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "pretendard";
  color: var(--colorInput);
}

/* tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  .postDetail {
    width: 700px;
  }
}
/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {
  .postDetail {
    width: 350px;
  }
}
