@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "pretendard";
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
}

html,
body {
  width: 100%;
  min-width: 320px;
  overflow-x: none;
  overflow-y: none;
}

::-webkit-scrollbar {
  display: none;
}
