/* common */
:root {

}
/* main */
/* mainBanner */
.mainBanner {
    position : relative; background-color: #CFE5FF; height: 540px;
}
.mainBanner .content {
    width : 1110px; height: 340px; display: flex; align-items: center;
    position :absolute; bottom : 0px; left : 50%; transform: translateX(-50%);
}
.mainBanner .content .contentFirst {
    display: flex; flex-direction: column; gap : 32px; padding-bottom : 60px;
}
.mainBanner .content .contentFirst h1 {
    width : 295px; white-space: nowrap;
    font-size : 40px; font-weight: 700; color : #374151; line-height : 56px;
}
.mainBanner .content .contentFirst a {
    display: flex; justify-content: center; align-items: center;
    background-color: #3692FF; padding : 16px 124px; height : 56px;
    border-radius: 40px; font-size: 20px; font-weight: 600;
    color : #F9FAFB; white-space: nowrap;
}
.mainBanner .content .contentSecond svg{
    height : 340px;
}
/* section */
section {
    padding : 138px 344px; display: flex; align-items: center; justify-content: center;
}
section .content {
    width : 998px; height: 444px; display: flex;
}
section .content .contentImg  svg {
    width : 588px; height: 100%;;
}
section .content  .contentDesc {
    position: relative; 
    width : 100%;  background-color: #FCFCFC;
}
section .content  .contentDesc div {
    position : absolute; left : 50%; top : 50%;
    transform: translate(-50%, -50%);
    display: flex; flex-direction: column; gap : 12px; 
    background-color: #FCFCFC; white-space: nowrap;
}
section .content  .contentDesc span {
    font-size : 18px; font-weight: 700; color : #3692FF; line-height: 26px;
}
section .content  .contentDesc h2 {
    font-size : 40px; font-weight: 700; line-height: 56px; letter-spacing: 2%; color : #374151;
}
section .content  .contentDesc p {
    color : #374151; font-weight: 500; font-size : 24px; line-height: 32px;
}
.section2 .content{ 
    flex-direction: row-reverse; 
}
.section2 .content  .contentDesc div {
    text-align: end;
}
/* Rectangle */
.rectangle {
    position : relative; height : 540px; background-color:#CFE5FF;
}
.rectangle .content {
    position : absolute; left: 50%; bottom : 0px; transform: translateX(-50%);
    display: flex; width : 1110px; align-items: center; gap : 68px; justify-content: space-between;
}
.rectangle .content .contentFirst h1 {
    font-size : 40px; font-weight: 700; line-height: 56px; color : #374151; white-space: nowrap;
}