@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

/* ===== 테마 정의 ===== */
@theme {
  /* 브레이크포인트 정의: 기본 반응형 브레이크 포인트를 디자인 요구사항에 따라 변경가능. */
  --breakpoint-sm: 743px;
  --breakpoint-md: 1199px;
  /* 그 이상부터 적용 가능 md:text-2xl이면 1199px 이상부터 2xl으로 적용 */

  /* 색상 정의: 디자인 내용에 따라 정의. 실사용 시 className="text-primary-50" */
  --color-primary-100: #3692ff;
  --color-primary-200: #1967d6;
  --color-primary-300: #1251aa;

  --color-error: #f74747;

  --color-gray-50: #fcfcfc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;

  --color-secondary-900: #111827;
  --color-secondary-800: #1f2937;
  --color-secondary-700: #374161;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6b7280;
  --color-secondary-400: #9ca3af;
  --color-secondary-200: #e5e7eb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-50: #f9fafb;

  --color-skyblue: #e6f2ff;
}

body {
  font-family: "Pretendard";
}
