header {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: #fff;
  display: flex;
  height: 4.375rem;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerLogo {
  margin-left: 12.5rem;
}

.headerLogo img {
  height: 3.1875rem;
}

.headerBoard,
.headerMarket {
  text-decoration: none;
  color: var(--colorHeaderText);
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.headerBoard {
  margin-left: 39px;
}

.headerMarket {
  margin-left: 30px;
}

.headerMarket.active {
  text-decoration: underline solid;
}
.headerBoard.active {
  text-decoration: underline solid;
}

nav {
  margin-left: auto;
}

.headerButton {
  background-color: var(--colorBtn);
  border: none;
  border-radius: 0.5rem;
  color: var(--colorInput);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  line-height: 1.625rem;
  margin-right: 2rem; /* 오른쪽 마진 추가 */
  padding: 0.75rem 1.4375rem;
  width: 8rem;
  font-family: "Pretendard";
}

.headerButton:hover {
  background-color: var(--colorBtnHover);
}

.headerBoard:hover,
.headerMarket:hover {
  opacity: 0.7;
}

/* 화면의 너비가 1920px 보다 작을 때 */
@media (max-width: 120rem) {
  .headerLogo {
    margin-left: calc(12.5rem - (120rem - 100vw) * 0.1);
  }

  img {
    display: block;
  }

  .headerButton {
    margin-right: calc(12.5rem - (120rem - 100vw) * 0.1);
  }
}

/* Tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  header {
    width: 100%;
    height: 70px;
  }

  .headerLogo {
    margin-left: 24px;
  }

  header img {
    width: 153px;
    height: 51px;
  }

  .headerButton {
    margin-right: 24px;
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 23px;
    gap: 10px;
    line-height: 26px;
  }
}

/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  header {
    width: 100vw;
    height: 70px;
    position: relative;
  }

  .headerBoard,
  .headerMarket {
    font-size: 12px;
    z-index: 2;
    padding-left: 1px;
  }

  .responsiveLogo {
    content: url("/public/img/mobile_logo.png");
    position: absolute;
    top: 10%;
    left: 10px;
  }

  .headerButton {
    margin-right: 3px;
    width: 90px;
  }
}
