/* 기본 스타일 */

* {
  box-sizing: border-box;
}

:root {
  --primary-color-100: #3692ff;
  --primary-color-200: #1967d6;
  --primary-color-300: #1251aa;
  --error-color: #f74747;
  --secondary-color-900: #111827;
  --secondary-color-800:#1f2937;
  --secondary-color-700: #374181;
  --secondary-color-600: #4b5563;
  --secondary-color-500: #6b7280;
  --secondary-color-400: #9ca3af;
  --secondary-color-200: #e5e7eb;
  --secondary-color-100: #f3f4f6;
  --secondary-color-50: #f9fafb;
}

body {
  font-family: pretendard;
  width: 640px;
  margin: 0 auto;
}

/* 일반 스타일 */

.header-in-loginPage {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}

.label-text {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-color-800);
}

input {
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  margin: 16px 0;
}

.password-form {
  position: relative;
}

.password-check-form {
  position: relative;
}

.hide-pw {
  display: block;
  position: absolute;
  top: 55px; right: 20px;
  background-image: url('../img/eye-close.png');
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.hide-pw-check {
  display: block;
  position: absolute;
  top: 55px; right: 20px;
  background-image: url('../img/eye-close.png');
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.large-login-button {
  display: block;
  width: 100%;
  height: 56px;
  background-color: var(--secondary-color-400);
  padding: 16px 124px;
  border-radius: 40px;
  color: var(--secondary-color-100);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 32px 0;
}

.easy-login-box {
  display: flex;
  width: 100%;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  background-color: #E6f2ff;
  border-radius: 8px;
}

#kakaotalk-icon {
  margin-left: 16px;
}

.footer-in-login-page {
  margin-top: 32px;
  text-align: center;
}

/* 동작 스타일 */

input:focus {
  border: 1px solid var(--primary-color-100);
  outline: none;
}

.form-group:focus-within + .large-login-button {
  background-color: var(--primary-color-100);
}

