:root {
  --color-Title: #111827;
  --color-Name: #1f2937;
  --color-Like: #4b5563;
  --color-inputText: #9ca3af;
  --color-input: #f3f4f6;
  --color-btn: #3692ff;
  --color-btnwhite: #f9fafb;
  --color-btnhover: #0056b3;
}
