@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* 기본설정  */
:root {
    --btnbg-title-color: #3692ff;
    --login-text-color: #f3f4f6;
    --banner-color: #cfe5ff;
    --text-primary-color: #374151;
    /* 배너 텍스트, 하이라이트 텍스트, 설명 텍스트 */
    --btntext-color: #f9fafb;
    --contents-bg-color: #fcfcfc;
    --license-text: #9ca3af;
    --QA-text-color: #e5e7eb;
    --form-bg-color: #111827;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    -ms-overflow-style: none;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    min-width: 320px;
}

::-webkit-scrollbar {
    display: none;
}

/* ============================================ */

/* header */
header {
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
    height: 4.375rem;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1;

}

header a {
    margin-left: 12.5rem;
    cursor: pointer;
}

a img {
    height: 3.1875rem;
}

nav button {
    background-color: var(--btnbg-title-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--login-text-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    line-height: 1.625rem;
    margin-right: 12.5rem;
    padding: 0.75rem 1.4375rem;
    width: 8rem;
    font-family: 'Pretendard';
}

nav button:hover {
    transform: scale(1.01);
    background: var(--license-text);
}

/* =================================== */

/* banner */
.banner {
    align-items: flex-end;
    background: var(--banner-color);
    display: flex;
    height: 30.75rem;
    justify-content: center;
    width: 100%;
}

.banner_inner {
    align-items: center;
    display: flex;
    gap: 0.4375rem;
    justify-content: center;
    max-width: calc(100% - 4rem);
    width: 100%;
}

.banner_text {
    padding-bottom: 3.75rem;
    text-align: left;
    white-space: nowrap;
}

.banner_text p {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.banner_text button {
    background-color: var(--btnbg-title-color);
    border: none;
    border-radius: 2.5rem;
    color: var(--btntext-color);
    cursor: pointer;
    font-family: 'Pretendard';
    font-size: 1.25rem;
    font-weight: 600;
    height: 3.5rem;
    padding: 1rem 7rem;
    width: 22.3125rem;
}

.banner_text button:hover {
    transform: scale(1.01);
    background: var(--license-text);
}

/* ========================================= */
/* contents */


.contents article {
    gap: 0.625rem;
    height: 45rem;
    padding: 8.625rem 15.25rem;
    margin: 0;
}

.contents section {
    align-items: center;
    background: var(--contents-bg-color);
    display: flex;
    gap: 4rem;
    height: 27.75rem;
    justify-content: center;
    margin: 0 auto;
    width: 61.75rem;
}

.contents section img {
    height: 27.75rem;
    width: 36.75rem;
}

.p_title {
    color: var(--btnbg-title-color);
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding-bottom: 0.75rem;
}

.p_highlight {
    color: var(--text-primary-color);
    font-size: 2.5rem;
    letter-spacing: 0.02rem;
    line-height: 3.5rem;
    padding-bottom: 1.5rem;
}

.p_explain {
    color: var(--text-primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.content1_text,
.content3_text {
    gap: 0.75rem;
    white-space: nowrap;
    width: 20.9375rem;
    height: 14.875rem;
}

.content2_text {
    gap: 1.5rem;
    white-space: nowrap;
    width: 20.9375rem;
    height: 14.875rem;
}

.contents2_text * {
    text-align: right;
    white-space: nowrap;
}

/* ======================== */
/* footer */
.emp {
    background: var(--contents-bg-color);
    height: 3.125rem;
}

.prom {
    align-items: flex-end;
    background: var(--banner-color);
    bottom: 0;
    display: flex;
    gap: 0.4375rem;
    height: 30.75rem;
    justify-content: center;
    width: 100%;
}

.prom_inner {
    align-items: flex-end;
    display: flex;
    gap: 0.4375rem;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.prom_text {
    padding-bottom: 7rem;
    padding-top: 7rem;
    text-align: left;
    white-space: nowrap;
    width: 18.75rem;
}

.prom_text p {
    font-size: 2.5rem;
    padding-bottom: 3.75rem;
    line-height: 3.5rem;
}

.license {
    align-items: flex-start;
    background: var(--form-bg-color);
    display: flex;
    height: 10rem;
    justify-content: space-between;
    padding: 2rem;
}

.maden {
    margin: 0;
    white-space: nowrap;
    margin-left: 12.5rem;
    line-height: 1.193125rem;
}

.maden p {
    color: var(--license-text);
    font-weight: 400;
    font-size: 1rem;
}

.QA {
    display: flex;
    gap: 1.875rem;
}

.QA a {
    color: var(--QA-text-color);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.193125rem;
}

.QA a:hover {
    opacity: 0.5;
}

.SNS {
    display: flex;
    gap: 0.8125rem;
    margin-right: 12.5rem;
}

.SNS img {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.SNS img:hover {
    opacity: 0.5;
    transform: scale(1.05);
}


/* 화면의 너비가 1920px보다 작을 때 */
@media (max-width: 120rem) {

    h1,
    .maden {
        margin-left: calc(12.5rem - (120rem - 100vw) * 0.1);
    }

    img {
        display: block;
    }

    nav button,
    .SNS {
        margin-right: calc(12.5rem - (120rem - 100vw) * 0.1);
    }

    .lics {
        display: flex;
        gap: calc((100vw - 75rem) / 2);
        justify-content: center;
    }
}

/* 화면의 너비가 1920px 이상일 때 */
@media (min-width: 1920px) {

    .banner_inner,
    .prom_inner {
        padding-left: 25.3125rem;
        padding-right: 25.3125rem;
    }

    .banner_inner {
        align-items: center;
        display: flex;
        max-width: calc(100% - 4rem);
        width: 100%;
    }

    img {
        display: block;
    }
}