@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* 기본설정  */
:root {
    --color-blue: #3692ff;
    --color-logintext: #f3f4f6;
    --color-skyblue: #cfe5ff;
    --color-carbon: #374151;
    --color-btntext: #f9fafb;
    --color-contents: #fcfcfc;
    --color-gray: #9ca3af;
    --color-QA: #e5e7eb;
    --color-footer: #111827;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    min-width: 320px;
}

::-webkit-scrollbar {
    display: none;
}

/* ============================================ */

/* header */
header {
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
    height: 4.375rem;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1;

}

header a {
    margin-left: 12.5rem;
    cursor: pointer;
}

a img {
    height: 3.1875rem;
}

nav button {
    background-color: var(--color-blue);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-logintext);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    line-height: 1.625rem;
    margin-right: 12.5rem;
    padding: 0.75rem 1.4375rem;
    width: 8rem;
    font-family: 'Pretendard';
}

nav button:hover {
    transform: scale(1.01);
    background: var(--color-gray);
}

/* =================================== */

/* banner */
.banner {
    align-items: flex-end;
    background: var(--color-skyblue);
    display: flex;
    height: 30.75rem;
    justify-content: center;
    width: 100%;
}

.banner_inner {
    align-items: center;
    display: flex;
    gap: 0.4375rem;
    justify-content: center;
    max-width: calc(100% - 4rem);
    width: 100%;
}

.banner_text {
    padding-bottom: 3.75rem;
    text-align: left;
    white-space: nowrap;
}

.banner_text p {
    white-space: nowrap;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.banner_text button {
    background-color: var(--color-blue);
    border: none;
    border-radius: 2.5rem;
    color: var(--color-btntext);
    cursor: pointer;
    font-family: 'Pretendard';
    font-size: 1.25rem;
    font-weight: 600;
    height: 3.5rem;
    padding: 1rem 7rem;
    width: 22.3125rem;
}

.banner_text button:hover {
    transform: scale(1.01);
    background: var(--color-gray);
}

/* ========================================= */
/* contents */


.first,
.second,
.third {
    gap: 0.625rem;
    height: 45rem;
    padding: 8.625rem 15.25rem;
    margin: 0;
}

.contents section {
    align-items: center;
    display: flex;
    gap: 4rem;
    height: 27.75rem;
    justify-content: center;
    margin: 0 auto;
    width: 61.75rem;
}

.contents section img {
    height: 27.75rem;
    width: 36.75rem;
}

.p_title {
    color: var(--color-blue);
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding-bottom: 0.75rem;
}

.p_highlight {
    color: var(--color-carbon);
    font-size: 2.5rem;
    letter-spacing: 0.02rem;
    line-height: 3.5rem;
    padding-bottom: 1.5rem;
}

.p_explain {
    color: var(--color-carbon);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.first_text,
.third_text {
    gap: 0.75rem;
    white-space: nowrap;
    width: 20.9375rem;
    height: 14.875rem;
}

.second_text {
    gap: 1.5rem;
    white-space: nowrap;
    width: 20.9375rem;
    height: 14.875rem;
}

.second_text * {
    text-align: right;
    white-space: nowrap;
}

/* ======================== */
/* footer */
.footer-decoration {
    background: var(--color-contents);
    height: 3.125rem;
}

.footer-banner {
    align-items: flex-end;
    background: var(--color-skyblue);
    bottom: 0;
    display: flex;
    gap: 0.4375rem;
    height: 30.75rem;
    justify-content: center;
    width: 100%;
}

.footer-banner_inner {
    align-items: flex-end;
    display: flex;
    gap: 0.4375rem;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.footer-banner_text {
    padding-bottom: 7rem;
    padding-top: 7rem;
    text-align: left;
    white-space: nowrap;
    width: 18.75rem;
}

.footer-banner_text p {
    font-size: 2.5rem;
    padding-bottom: 3.75rem;
    line-height: 3.5rem;
}

.footer_license {
    align-items: flex-start;
    background: var(--color-footer);
    display: flex;
    height: 10rem;
    justify-content: space-between;
    padding: 2rem;
}

.copy {
    margin: 0;
    white-space: nowrap;
    margin-left: 12.5rem;
    line-height: 1.193125rem;
}

.copy p {
    color: var(--color-gray);
    font-weight: 400;
}

.QA {
    display: flex;
    gap: 1.875rem;
}

.QA a {
    color: var(--color-QA);
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.193125rem;
}

.QA a:hover {
    opacity: 0.5;
}

.SNS {
    display: flex;
    gap: 0.8125rem;
    margin-right: 12.5rem;
}

.SNS img {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.SNS img:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

/* ==header & footer == */
/* 화면의 너비가 1920px보다 작을 때 */
@media (max-width: 120rem) {

    h1,
    .copy {
        margin-left: calc(12.5rem - (120rem - 100vw) * 0.1);
    }

    img {
        display: block;
    }

    nav button,
    .SNS {
        margin-right: calc(12.5rem - (120rem - 100vw) * 0.1);
    }

    .lics {
        display: flex;
        gap: calc((100vw - 75rem) / 2);
        justify-content: center;
    }
}

/* 화면의 너비가 1920px 이상일 때 */
@media (min-width: 1920px) {

    .banner_inner,
    .footer-banner_inner {
        padding-left: 25.3125rem;
        padding-right: 25.3125rem;
    }

    .banner_inner {
        align-items: center;
        display: flex;
        max-width: calc(100% - 4rem);
        width: 100%;
    }

    img {
        display: block;
    }
}

/* ========================================== */
/*  Tablet (744px ~ 1199px) */
@media (min-width: 744px) and (max-width: 1199px) {

    html,
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    img {
        display: block;
    }

    /* ---------- */
    /* header */
    header {
        width: 100%;
        height: 70px;
    }

    header a {
        margin-left: 24px;
    }

    header img {
        width: 153px;
        height: 51px;
    }

    nav button {
        margin-right: 24px;
        width: 128px;
        height: 48px;
        border-radius: 8px;
        padding: 12px 23px;
        gap: 10px;
        line-height: 26px;
    }

    /* ---------- */
    /* banner */
    .banner {
        width: 100%;
        height: 771px;
    }

    .banner_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .banner_text {
        width: 512px;
        text-align: center;
        gap: 24px;
        margin-bottom: 50px;
    }

    .banner_text p {
        white-space: nowrap;
        padding-bottom: 24px;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }

    .banner_text br {
        display: none;
    }

    .banner_text button {
        width: 357px;
        height: 56px;
        padding: 16px 124px;
        gap: 10px;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .banner_img {
        margin-top: 20px;
        position: absolute;
        bottom: 0;
    }

    .banner_img img {

        height: auto;
        object-fit: contain;
    }

    /* ---------- */
    /* contents */
    .contents {
        width: 100vw;
        height: auto;
        padding: 24px;
        display: flex;
        flex-direction: column;
    }

    .contents section {
        width: 100%;
        padding-top: 50px;
    }

    .contents section img {
        width: 100vw;
        padding: 0 24px;
        height: 524px;
        object-fit: cover;
    }

    .p_highlight br {
        display: none;
    }

    .first {
        position: relative;
    }

    .first_text {
        position: absolute;
        width: 100%;
        bottom: -180px;
    }

    .second {
        margin-top: 50px;
        position: relative;
    }

    .second_text {
        position: absolute;
        width: 100%;
        bottom: -180px;
    }

    .third {
        margin-top: 50px;
        position: relative;
    }

    .third_text {
        position: absolute;
        width: 100%;
        bottom: -180px;
    }

    /* ---------- */
    /* footer */
    footer {
        margin-top: 150px;
    }

    .footer-banner {
        width: 100%;
        height: 927px;
    }

    .footer-banner_inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .footer-banner_text p {
        padding-top: 80px;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }

    .footer-banner_img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .footer-banner_img img {
        max-width: 100%;
        height: auto;
    }

    .footer_license {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 160px;
        flex-direction: row;
        padding: 32px 24px 108px;
    }

    .QA {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }
}

/* ========================================== */
/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {

    html,
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    img {
        display: block;
    }

    /* ----- */
    /* header */
    header {
        width: 100%;
        height: 70px;
    }

    header a {
        margin-left: 16px;
    }

    .responsive_logo {
        content: url('img/mobile_logo.png');
    }

    header img {
        height: 51px;
        object-fit: cover;
        margin-bottom: 9px;
        margin-top: 10px;
    }

    nav button {
        margin-right: 16px;
    }

    /* ----- */
    /* baner */
    .banner {
        width: 100vw;
        height: 480px;
        position: relative;
    }

    .banner_inner {
        display: table;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .banner_text {
        padding-bottom: 50%;
    }

    .banner_text p {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 44.8px;
    }

    .banner_text button {
        width: 240px;
        height: 48px;
        padding: 12px 71px;
        margin: 0 67px 0 68px;
        gap: 10px;
    }

    .banner_img {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
    }

    .banner_img img {
        max-width: 448px;
        height: auto;
        padding: 0 32px;
    }

    /* ----- */
    /* contents */
    .contents {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
    }

    .contents section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .contents section img {
        width: 100vw;
        padding: 0 16px;
        height: auto;
        object-fit: contain;
    }

    .p_title {
        font-weight: 700;
        line-height: 26px;
        padding-bottom: 8px;
    }

    .p_highlight {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 16px;
    }

    .p_explain {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    .p_highlight br {
        display: none;
    }

    .first_text,
    .second_text,
    .third_text {
        width: 100%;
        padding: 0 16px;
    }

    .second section {
        display: flex;
        flex-direction: column-reverse;
    }

    /* ----- */
    /* footer */
    footer {
        margin-top: 60px;
    }

    .footer-banner {
        width: 100%;
        height: 480px;
        position: relative;
    }

    .footer-banner_inner {
        display: table;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .footer-banner_text {
        padding-bottom: 40%;
    }

    .footer-banner_text p {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 44.8px;
    }

    .footer-banner_img {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        bottom: 0;
    }

    .footer-banner_img img {
        max-width: 375px;
        height: auto;
        padding: 0 32px;
    }

    .footer_license {
        position: relative;
        padding-top: 42px;
        display: flex;
        justify-content: space-between;
    }

    .copy {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 45px;
    }

    .SNS {
        margin-right: 16px;
        gap: calc(8px + 0.5vw);
    }

    .QA {
        margin-left: 16px;
        gap: calc(12px + 1.5vw);
    }
}