.create-product-form {
  width: 1200px;
  margin: 0 auto;
}
.create-header {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 29px;
}
.create-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-Title);
}

.create-btn {
  width: 74px;
  padding: 12px 23px;
  gap: 10px;
  font-family: "pretendard";
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  cursor: pointer;
  color: #f3f4f6;
  background-color: #9ca3af;
}
.create-btn:disabled {
  background-color: #3692ff;
  cursor: not-allowed;
}

.create-btn:hover {
  opacity: 0.7;
}

.create-name,
.create-description,
.create-price,
.create-tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-Name);
}

.create-name-input,
.create-price-input {
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--color-input);
  border: none;
  font-family: "pretendard";
  color: var(--color-inputText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}
.create-tag-input {
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--color-input);
  border: none;
  font-family: "pretendard";
  color: var(--color-inputText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 14px;
}

.create-description-textarea {
  width: 100%;
  height: 282px;
  margin-top: 16px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-input);
  font-family: "pretendard";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}

.create-tag-list {
  display: flex;
}
.create-tag-item {
  background-color: #f3f4f6;
  border-radius: 26px;
  height: 36px;
  padding: 6px 12px;
  color: #1f2937;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-right: 12px;
}
.remove-tag-btn {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #9ca3af;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #f9fafb;
}

/* error */
.error {
  border: 1px solid #f74747;
}

.error-message {
  color: #f74747;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
}

/* tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  .create-product-form {
    width: 700px;
  }
}
/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {
  .create-product-form {
    width: 350px;
  }
}
