:root {
  --color-btn: #9ca3af;
}

.create-product-form {
  width: 1200px;
  margin: 0 auto;
}
.create-header {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 29px;
}
.create-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-Title);
}

.create-btn {
  width: 74px;
  padding: 12px 23px;
  gap: 10px;
  font-family: "pretendard";
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  cursor: pointer;
}

.create-btn:hover {
  opacity: 0.7;
}

.create-name,
.create-description,
.create-price,
.create-tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-Name);
}

.create-name-input,
.create-price-input,
.create-tag-input {
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--color-input);
  border: none;
  font-family: "pretendard";
  color: var(--color-inputText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}

.create-description-textarea {
  width: 100%;
  height: 282px;
  margin-top: 16px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-input);
  font-family: "pretendard";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}
