.createProductForm {
  width: 1200px;
  margin: 0 auto;
}

.createHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 29px;
}

.createText {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--colorTitle);
}

.createBtn {
  width: 74px;
  padding: 12px 23px;
  gap: 10px;
  font-family: "pretendard";
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--colorInput);
  background-color: var(--colorInputText);
}

.createBtn:disabled {
  background-color: var(--colorBtn);
  cursor: not-allowed;
}

.createBtn:hover {
  opacity: 0.7;
}

.createName,
.createDescription,
.createPrice,
.createTag {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--colorName);
}

.createNameInput,
.createPriceInput {
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--colorInput);
  border: none;
  font-family: "pretendard";
  color: var(--colorInputText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}

.createTagInput {
  border-radius: 12px;
  margin-top: 16px;
  width: 100%;
  height: 56px;
  background-color: var(--colorInput);
  border: none;
  font-family: "pretendard";
  color: var(--colorInputText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 14px;
}

.createDescriptionTextarea {
  width: 100%;
  height: 282px;
  margin-top: 16px;
  border-radius: 12px;
  border: none;
  background-color: var(--colorInput);
  font-family: "pretendard";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 16px 24px;
  gap: 10px;
  margin-bottom: 32px;
}

.createTagList {
  display: flex;
}

.createTagItem {
  background-color: var(--colorInput);
  border-radius: 26px;
  height: 36px;
  padding: 6px 12px;
  color: #1f2937;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-right: 12px;
}

.removeTagBtn {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--colorInputText);
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: var(--colorBtnText);
}

/* error */
.error {
  border: 1px solid var(--colorError);
}

.errorMessage {
  color: var(--colorError);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
}

/* tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  .createProductForm {
    width: 700px;
  }
}

/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {
  .createProductForm {
    width: 350px;
  }
}
