body {
  overflow-x: hidden;
  overflow-y: auto;
}
.productListForm {
  width: 1200px;
  margin: 0 auto;
}

/* productList */
.productListText {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--colorTitle);
  margin: 20px 400px 20px 0;
}

.productListHeader {
  display: flex;
  justify-content: space-between; /* 좌우로 공간 분배 */
  align-items: center; /* 세로로 중앙 정렬 */
  margin: 24px 0;
}

.productListHeaderAsset {
  display: flex;
}

.productListBtn {
  width: 150px;
  height: 42px;
  border-radius: 8px;
  margin: 0 12px;
  gap: 10px;
  border: none;
  background-color: var(--colorBtn);
  color: var(--colorInput);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: "pretendard";
}

.productListBtn:hover {
  background-color: var(--colorBtnHover);
}

.productListGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.productItem {
  width: calc(20% - 16px);
  margin-bottom: 20px;
  text-align: left;
}

.productListImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
  object-fit: cover;
}

.productName {
  margin-top: 16px;
  margin-bottom: 6px;
  width: 221px;
  color: var(--colorName);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.productPrice {
  margin-bottom: 8px;
  width: 221px;
  color: var(--colorName);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

/*  Tablet (744px ~ 1199px) */
@media (min-width: 744px) and (max-width: 1199px) {
  .productListForm {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* productList */

  .productListHeader {
    margin: 20px 0;
    padding: 0 40px;
    width: 100vw;
  }

  .productListText {
    width: 113px;
    height: 32px;
    margin-right: min(10vw, 50px);
  }

  .productListBtn {
    width: 123px;
    height: 42px;
  }

  .productListGrid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }

  .productListImg {
    width: 30vw;
  }
}

/* Mobile (375px ~ 743px) */
@media (min-width: 375px) and (max-width: 743px) {
  .productListForm {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* productList */
  .productListHeader {
    margin: 20px 0;
    padding: 0 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .productListText {
    writing-mode: horizontal-tb;
    display: block;
    white-space: nowrap;
    order: 1; /* 텍스트가 첫 번째로 오도록 설정 */
  }

  .productListHeaderAsset {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    order: 2; /* 버튼, 인풋, 셀렉트 그룹이 두 번째로 오도록 설정 */
    gap: 10px; /* 아이템 간 간격을 설정 */
  }

  .productListBtn {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .productListGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .productListImg {
    width: 45vw;
    height: 221px;
  }
}
